<%= form_for [:admin, @page] do |f| %>
	<h4>Tytuł strony</h4>
	<p>
		<%= f.text_field :name %>
	</p>
	<h4>Kod w URL</h4>
	<p>
		<%= f.text_field :slug %>
	</p>
	<h4>Treść strony</h4>
	<p>
		<%= f.text_area :content, {:style => 'width: 100%; padding: 0; border: 0; height: 400px', :class => 'tinymce'} %>
		<%= tinymce %>
	</p>
	<p>
		<%= f.submit 'Zapisz', {:class => 'btn btn-primary'} %>
	</p>
<% end %>