<div class="span2">
  <%= render :partial => 'admin/sidebar' %>
</div>
<div class="span10">
	<%= render 'layouts/notifications' %>
	<h1>
		<%= @item.order.name %>
	</h1>

	<p><strong>Zleceniodawca:</strong> <%= @item.order.creator.email %></p>
	<p><strong>Autor:</strong> <%= @item.user.email %></p>

	<hr />
	
	<p>
		<%= @item.content %>
	</p>

	<hr />

	<p><strong>Przychód:</strong> <%= @item.normalized_price %></p>

	<p><strong>Status:</strong> <%= @item.status_name.html_safe %></p>
	<% if @item.status == 5 %>
	<p>
		<%= link_to 'Zatwierdź', confirm_admin_item_path(@item), {:class => 'btn btn-success'}, :confirm => 'Jesteś pewien?' %>
		<%= link_to 'Odrzuć', conflict_admin_item_path(@item), {:class => 'btn btn-danger'}, :confirm => 'Jesteś pewien?' %>
	</p>
	<% end %>

	<% unless @item.conflicts.empty? %>
		<hr />
		<h3>Komentarze</h3>
	<% end %>

	<% for element in @item.conflicts %>


		<p>
			<strong><%= element.author.email %></strong>
			<small>
				<%= distance_of_time_in_words_to_now(element.updated_at.to_time,) %> ago
			</small>
		<p>
		<div class='well well-small'><%= element.content %></div>
		<hr />
	<% end %>


</div>