	<div style="padding: 30px"></div>
	<div class="span5 offset1">
		<h2>Rejestracja</h2>
		<p>Po utworzeniu konta będziesz mógł pisać pierwsze teksty i otrzymywać za nie wynagrodzenie w ramach salda konta.</p>
		<p>Na tym etapie nie musisz podawać żadnych danych osobowych. Będą one potrzebne, kiedy zechcesz wypłacić zgromadzone środki.</p>
	</div>
	<div class="span3 offset1">
		<%= form_for("user", :url => user_registration_path) do |f| %>
			<div>
				<label class="control-label">Adres e-mail</label>
		  	<%= f.text_field :email %>
			</div>
			<div>
				<label class="control-label">Hasło:</label>
		  	<%= f.password_field :password %>
		  </div>
		  <div>
		  	<label class="control-label">Powtórz hasło:</label>
		  	<%= f.password_field :password_confirmation %>
		  </div>
		  <div>
		  	<p>
		  	<label class="checkbox">
		  	<%= f.check_box :confirmed_terms %>
		  	Przeczytałem i akceptuję regulamin
		  	</label>
		  	<p>
		  </div>
		  <%= f.submit 'Rejestracja', {:class => 'btn btn-primary'} %>
		<% end %>
	</div>