<ul class="nav nav-tabs nav-stacked">
	<li class="active"><a href="#">Użytkownicy</a></li>
	<li><%= link_to 'Lista', admin_users_path %></li>
</ul>

<ul class="nav nav-tabs nav-stacked">
	<li class="active"><a href="#">Teksty</a></li>
	<li><%= link_to 'Lista', admin_items_path %></li>
	<li><%= link_to 'Do zatwierdzenia', admin_items_path(:status => 5) %></li>
</ul>

<ul class="nav nav-tabs nav-stacked">
	<li class="active"><a href="#">Zlecenia</a></li>
	<li><%= link_to 'Lista', admin_orders_path %></li>
	<li><%= link_to 'Dodaj nowe', new_admin_order_path %></li>
</ul>

<ul class="nav nav-tabs nav-stacked">
	<li class="active"><a href="#">Klienci</a></li>
</ul>


<ul class="nav nav-tabs nav-stacked">
	<li><%= link_to "Wyloguj", destroy_admin_session_path, {:method => 'delete'} %></li>
</ul>