<div class="span2">
	<%= render :partial => 'admin/sidebar' %>
</div>
<div class="span10">
	<%= render 'layouts/notifications' %>
	<table class="table">
		<thead>
			<th>Nazwa</th>
			<th>Dostępne</th>
			<th>Wynagrodzenie</th>
			<th>Twórca</th>
		</thead>
		<tbody>
		<% @orders.each do |o| %>
			<tr>
				<td><%= link_to o.name, order_path(o) %></td>
				<td><%= o.quantity %></td>
				<td><%= o.normalized_price %> <small>(<%= o.price_per_signs %>)</small></td>
				<td><%= o.creator.email %></td>
			</tr>
		<% end %>
		</tbody>
	</table>	
</div>