
	<%= render 'layouts/notifications' %>
	<table class="table">
		<thead>
			<th>Nazwa</th>
			<th>Dostępne</th>
			<th>Wynagrodzenie</th>
			<% if current_admin.admin? %>
				<th>Twórca</th>
			<% end %>
			<th></th>
		</thead>
		<tbody>
		<% @orders.each do |o| %>
			<tr>
				<td><%= link_to o.name, admin_order_path(o) %></td>
				<td><%= o.quantity %></td>
				<td><%= o.normalized_price %> <small>(<%= o.price_per_signs %>)</small></td>
				<% if current_admin.admin? %>
					<td><%= o.creator.email %></td>
				<% end %>
				<td>
					<%= link_to "Edytuj", edit_admin_order_path(o), {:class => 'btn btn-mini btn-warning'} %>
				</td>
			</tr>
		<% end %>
		</tbody>
	</table>	
