<div class="span7">
	<div class="hero-unit">
	  <h1>Witaj!</h1>
	  <p>TextProvider to platforma do realizacji zleceń copywriterskich</p>
	  <h3>Dla kogo?</h3>
	  <p>Piszesz teksty, jesteś copywriterem?</p>
	  <p>
	    <%= link_to 'Szukaj zleceń', orders_path, {:class => 'btn btn-primary btn-large'} %>
	  </p>
	</div>
</div>
<div class="span5">
	<% if user_signed_in? %>
		<h3>Zalogowany jako:</h3>
		<p class="lead">
			<%= current_user.email %>
		</p>
	<% else %>
		<h2>Rejestracja</h2>
		<p class="lead">Pierwszy raz?</p>
		<%= form_for("user", :url => user_registration_path) do |f| %>
			<div>
				<label class="control-label">Adres e-mail</label>
		  	<%= f.text_field :email %>
			</div>
			<div>
				<label class="control-label">Hasło:</label>
		  	<%= f.password_field :password %>
		  </div>
		  <div>
		  	<label class="control-label">Powtórz hasło:</label>
		  	<%= f.password_field :password_confirmation %>
		  </div>
		  <%= f.submit 'Rejestracja', {:class => 'btn btn-primary'} %>
		<% end %>
	<% end %>
</div>