<ul class="nav nav-tabs nav-stacked">
	  <li class="active"><a href="#">Kategorie</a></li>
	  <li><%= link_to "Wszystkie", orders_path %></li>
	  <!--
	  <li><a href="#">Teksty SEO</a></li>
	  <li><a href="#">Artykuły</a></li>
	  <li><a href="#">Treści dla stron</a></li>
	-->
</ul>

<%= search_form_for @q do |f| %>
  <fieldset>
    <legend style="width: auto;">Wyszukiwarka</legend>
    <%= f.text_field :name_cont, {:placeholder => "Szukaj w tytule", :style => "width: auto", :size => ''} %>
    <div class="input-append" style="margin-bottom: 10px;">
		  <%= f.text_field :price_gteq, {:class => 'span2', :style => "width:62%;", :placeholder => "cena od", :size => ''} %>
		  <span class="add-on">PLN</span>
		</div>
    <div class="input-append" style="margin-bottom: 18px;">
    	<%= f.text_field :price_lteq, {:class => 'span2', :style => "width:62%;", :placeholder => "cena do", :size => ''} %>
		<span class="add-on">PLN</span>
		</div>
    
    <p><%= f.submit "Szukaj", {:class => 'btn btn-primary'} %></p>
    <% if @q.conditions.size > 0 %>
    <%= link_to "Wyczyść", orders_path, {:class =>'btn btn-warning', :style => "margin-right: 20px;"} %>
    <% end %>
    <div class="clearfix"></div>
  </fieldset>
<% end %>