<div class="span2">
  <%= render :partial => 'sidebar' %>
</div>
<div class="span10">
	<%= render 'layouts/notifications' %>
	<ul class="breadcrumb">
	  <li><%= link_to 'Home', root_path %> <span class="divider">/</span></li>
	  <li class="active">Zlecenia - wszystkie</li>
	</ul>

	<table class="table">
		<thead>
			<th>Nazwa</th>
			<th>Dostępne</th>
			<th>Wynagrodzenie</th>
		</thead>
		<tbody>
		<% @orders.each do |o| %>
			<tr>
				<td><%= link_to o.name, order_path(o) %></td>
				<td><%= o.quantity %></td>
				<td><%= o.normalized_price %> <small>(<%= o.price_per_signs %>)</small></td>
			</tr>
		<% end %>
		</tbody>
	</table>	
</div>