<div class="span2">
  <%= render :partial => 'sidebar' %>
</div>
<div class="span10">
	<%= render 'layouts/notifications' %>
	<ul class="breadcrumb">
	  <li><%= link_to 'Home', root_path %> <span class="divider">/</span></li>
	  <% if @q.conditions.size > 0 %>
	  	<li><%= link_to "Zlecenia", orders_path %> <span class="divider">/</span></li>
		<li class="active">Zlecenia - wyniki wyszukiwania <!--(
			<% for condition in @q.conditions %>
				<% if condition.attributes.first.name == 'price' %>
				cena: 
				<% if condition.predicate.name == 'gteq' %>
					od
				<% elsif condition.predicate.name == 'lteq' %>
					do
				<% end %>
				<%= format('%.2f PLN', condition.values.first.value) %>
				<% end %>
			<% end %>
		)--></li>
	  <% else %>
	  	<li class="active">Zlecenia - wszystkie</li>
	  <% end %>
	</ul>

	<table class="table">
		<thead>
			<th>Nazwa</th>
			<th>Dostępne</th>
			<th>Wynagrodzenie</th>
		</thead>
		<tbody>
		<% @orders.each do |o| %>
			<tr>
				<td><%= link_to o.name, order_path(o) %></td>
				<td><%= o.quantity %></td>
				<td><%= o.normalized_price %> <small>(<%= o.price_per_signs %>)</small></td>
			</tr>
		<% end %>
		</tbody>
	</table>	
</div>