		<div class="span2">
	      <%= render :partial => 'sidebar' %>
	    </div>
	    <div class="span10">
	      
	      <%= render 'layouts/notifications' %>



				<ul class="breadcrumb">
				  <li><%= link_to 'Home', root_path %> <span class="divider">/</span></li>
				  <li><%= link_to 'Zlecenia', orders_path %> <span class="divider">/</span></li>
				  <li class="active"><%= @order.name %> (numer: #<%= @order.id %>)</li>
				</ul>

				<h1>
					<%= @order.name %>
					<%= link_to 'Pisz', write_writer_order_path(@order), {:class => 'btn btn-primary'} %>
				</h1>

				<p>
					<span class="text-success lead"><%= @order.normalized_price %></span>
					<small class="muted"><%= @order.price_per_signs %></small>
				</p>
				<p>
					<%= @order.quantity %> tekstów do końca
				</p>

				<hr />
				<h3>Opis</h3>
				<div class="description">
					<%= @order.description.html_safe %>
				</div>

	    </div>
