<div class="span2">
  <%= render :partial => 'sidebar' %>
</div>

<div class="span10">
  
  <%= render 'layouts/notifications' %>

		<ul class="breadcrumb">
		  <li><%= link_to 'Home', root_path %> <span class="divider">/</span></li>
		  <li><%= link_to 'Teksty', writer_items_path %> <span class="divider">/</span></li>
		  <li class="active">Mój tekst (<%= @item.formal_name %>)</li>
		</ul>

		<h1>
			<%= @item.order.name %>
		</h1>

		<p>
			<%= @item.content %>
		</p>

		<p><strong>Przychód:</strong> <%= @item.normalized_price %></p>

		<p><strong>Status:</strong> <%= @item.status_name.html_safe %></p>
		<% if @item.status == 0 %>
		<p>
			<%= link_to 'Wyślij', writer_item_close_path(@item), {:class => 'btn btn-primary'} %>
		</p>
		<% end %>

</div>
