<div class="span2">
  <%= render :partial => 'sidebar' %>
</div>

<div class="span10">
  
  <%= render 'layouts/notifications' %>

		<ul class="breadcrumb">
		  <li><%= link_to 'Home', root_path %> <span class="divider">/</span></li>
		  <li><%= link_to 'Teksty', writer_items_path %> <span class="divider">/</span></li>
		  <li class="active">Mój tekst (<%= @item.formal_name %>)</li>
		</ul>

		<h1>
			<%= @item.order.name %>
		</h1>

		<% if @item.status == 0 %>
			<p>Pozostały czas: <%= @item.time_left.html_safe %></p>
		<% end %>

		<hr />

		<p>
			<%= @item.content %>
		</p>

		<hr />

		<p><strong>Przychód:</strong> <%= @item.normalized_price %></p>

		<p><strong>Status:</strong> <%= @item.status_name.html_safe %></p>
		<% if @item.status == 0 %>
		<p>
			<%= link_to 'Edytuj', writer_item_write_path(@item), {:class => 'btn btn-warning'} %>
			<%= link_to 'Wyślij', writer_item_close_path(@item), {:class => 'btn btn-primary'} %>
			<%= link_to 'Usuń', writer_item_delete_path(@item), {:class => 'btn btn-danger'}, :confirm => 'Jesteś pewien?' %>
		</p>
		<% end %>

		<% if @item.status == 8 and @item.order.quantity > 0 %>
			<p>Pomimo tego, że czas na realizację przyznanego Ci tekstu dobiegł końca, to zlecenie jest nadal otwarte i możesz dokończyć pracę.</p>
			<%= link_to 'Dokończ tekst', writer_item_refresh_path(@item), {:class => 'btn btn-primary'} %> 
		<% end %>

		<% if @item.status == 8 and @item.order.quantity == 0 %>
			<p>Zlecenie już się zakończyło.</p>
		<% end %>

		<% unless @item.conflicts.empty? %>
		<hr />
		<h3>Komentarze</h3>
	<% end %>

	<% for element in @item.conflicts %>
		<p>
			<% if element.author == current_user %>
				<strong><%= element.author.email %></strong>
			<% else %>
				<strong>Administracja</strong>
			<% end %>
			<small>	
				<%= distance_of_time_in_words_to_now(element.updated_at.to_time,) %> ago
			</small>
		<p>
		<div class='well well-small'><%= element.content %></div>
		<hr />
	<% end %>

</div>
