<div class="span2">
	<%= render :partial => 'sidebar' %>
</div>
<div class="span10">
  
  <%= render 'layouts/notifications' %>



		<ul class="breadcrumb">
		  <li><%= link_to 'Home', root_path %> <span class="divider">/</span></li>
		  <li><%= link_to 'Zlecenia', orders_path %> <span class="divider">/</span></li>
		  <li><%= link_to @item.order.formal_name, order_path(@item.order) %> <span class="divider">/</span></li>
		  <li class="active">Realizacja zlecenia</li>
		</ul>

		<h1>
			<%= @item.order.name %>
		</h1>

		<p>Pozostały czas: <%= @item.time_left.html_safe %></p>
		
		<%= form_for @item, :url => {:action => 'written'} do |f| %>
			<div style="border: 1px solid #ccc; border-radius: 5px; margin-bottom: 20px; margin-top: 10px; padding: 10px;">
		  	<%= f.text_area :content, {:style => 'width: 100%; padding: 0; border:0; margin: 0; height: 300px;', :id => 'main-item-textarea'} %>
		  </div>
		  <%= f.submit "Zapisz", {:class => 'btn btn-primary'} %>
		<% end %>
		<p>Ilość znaków: <span id="letter-counter"></span></p>

		<script type="text/javascript">
		$(document).ready( function(){
			$('#main-item-textarea').keyup( function() {
				$('#letter-counter').html($(this).val().length)
			})
		})
		</script>

</div>
