%h3 Zmiana hasła
= form_for [:writers, @user], :url => writer_save_new_password_path do |f|

	%p
		= f.label :password, "Nowe hasło"
		= f.password_field :password, :autocomplete => "off"

	%p
		= f.label :password_confirmation, "Powtórz hasło"
		= f.password_field :password_confirmation

	%p
		= f.submit "Zmień hasło", { :class => "btn btn-primary" }